<!DOCTYPE HTML>

<html lang="en">
<head>
<meta charset="utf-8">
<title>Designbin</title>
<link rel="stylesheet" href="http://blueimp.github.com/cdn/css/bootstrap.min.css">
<link rel="stylesheet" href="http://designb.in/css/style.css">
<link rel="stylesheet" href="http://blueimp.github.com/cdn/css/bootstrap-responsive.min.css">
<!-- Bootstrap CSS fixes for IE6 -->
<!--[if lt IE 7]><link rel="stylesheet" href="http://blueimp.github.com/cdn/css/bootstrap-ie6.min.css"><![endif]-->
<!-- Bootstrap Image Gallery styles -->
<link rel="stylesheet" href="http://blueimp.github.com/Bootstrap-Image-Gallery/css/bootstrap-image-gallery.min.css">
<link rel="stylesheet" href="http://designb.in/css/jquery.fileupload-ui.css">
<!-- Shim to make HTML5 elements usable in older Internet Explorer versions -->
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<!-- Google analytics script-->
<script src="http://designb.in/js/analytics.js"></script>

</head>
<body>
<div class="offset1 span2 navigation">
    <ul>
    <li class="active">
    <a href="/">Home</a>
    </li>
    <li><a href="/about.html">About</a></li>
    </ul>
</div>

<div class="container">
    <br /><br /><br /><br />
    <div class="row">
        <div class="offset1 span10 well">
        <center>
        <img src="/img/title.png" id="title_img"/>
        <br />
        <h1>code : pastebin :: UI : designbin</h1>
        <h4>Share your design</h4></center>
        <br />
        </div>
    </div>
    <!-- The file upload form used as target for the file upload widget -->
    
    <form id="fileupload" class="offset1 span10" action="http://designb.in/upload" method="POST" enctype="multipart/form-data">
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
            <div class="span10">
                <div class="offset3">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                    <i class="icon-plus icon-white"></i>
                    <span>Add files...</span>
                    <input type="file" name="files[]" multiple>
                </span>
                <button type="submit" class="btn btn-primary start">
                    <i class="icon-upload icon-white"></i>
                    <span>Start upload</span>
                </button>
                <button type="reset" class="btn btn-warning cancel">
                    <i class="icon-ban-circle icon-white"></i>
                    <span>Cancel upload</span>
                </button>
                </div>
                <div class="span4">
                    <!-- The global progress bar -->
                    <div class="progress progress-success progress-striped active fade">
                        <div class="bar" style="width:0%;"></div>
                    </div>
                </div>
            </div>
            <br /><br>
            <!-- The loading indicator is shown during image processing -->
            <div class="fileupload-loading"></div>
            <br>
            <!-- The table listing the files available for upload/download -->
            <table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
        </div>
    </form>
</div>
<div class="notes">
    <div class="container">
    <div class="row">
        <div class="offset1 span11">
            <div class="span5">
            <h3>What you can do here?</h3>
            <ul>
                <li>Upload your design (html, css, js, png, jpg, gif).</li>
                <li>Get a subdomain (something like http://207b6f62.designb.in/)</li>
                <li>Share it with your colleagues/customer and get feedback.</li>
            </ul>
            </div>
            <div class="span5">
            <h3>Points to note</h3>
            <ul>
                <li>The url will be available only for 10 days.</li>
                <li>You have to start your file references with "/". 
                (eg., If you upload index.html and main.js. In your index.html,
                refer main.js as "/main.js" and not as 
                "http://localhost/main.js" or "http://example.com/main.js")</li>
                <li>Files are stored in flat hierarchy.So, refer your 
                main.js as "/main.js" and not as "/js/main.js".</li>
                <li>Maximum size allowed is 5MB for each file.</li>
            </ul>
            </div>
        <div class="span11 footer">
            <hr />
            &copy; <a href="http://aravindj.com">Aravind J</a> 2012
        </div>
        </div>
    </div>
    </div>
</div>

<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td class="name"><span>{%=file.name%}</span></td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        {% if (file.error) { %}
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else if (o.files.valid && !i) { %}
            <td>
                <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
            </td>
            <td class="start">{% if (!o.options.autoUpload) { %}
                <button class="btn btn-primary">
                    <i class="icon-upload icon-white"></i>
                    <span>{%=locale.fileupload.start%}</span>
                </button>
            {% } %}</td>
        {% } else { %}
            <td colspan="2"></td><td colspan="2"></td>
        {% } %}
        <td class="cancel">{% if (!i) { %}
            <button class="btn btn-warning">
                <i class="icon-ban-circle icon-white"></i>
                <span>{%=locale.fileupload.cancel%}</span>
            </button>
        {% } %}</td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        {% if (file.error) { %}
            <td class="name"><span>{%=file.name%}</span></td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
            <td colspan="2"></td>
            <td colspan="2"></td>
        {% } else { %}
            <td class="name">
                <span>{%=file.name%}</span>
            </td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td class="url"><span><a href="{%=file.url%}" target="_blank">{%=file.url%}</span></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
        {% } %}

    </tr>
{% } %}
</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://designb.in/js/jquery.ui.widget.js"></script>
<script src="http://blueimp.github.com/JavaScript-Templates/tmpl.min.js"></script>

<script src="http://blueimp.github.com/JavaScript-Canvas-to-Blob/canvas-to-blob.min.js"></script>
<script src="http://designb.in/js/jquery.iframe-transport.js"></script>
<script src="http://designb.in/js/jquery.fileupload.js"></script>
<script src="http://designb.in/js/jquery.fileupload-ui.js"></script>
<script src="http://designb.in/js/locale.js"></script>
<script src="http://designb.in/js/main.js"></script>
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE8+ -->
<!--[if gte IE 8]><script src="js/jquery.xdr-transport.js"></script><![endif]-->
</body> 
</html>
